@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    List<Account> accounts = new List<Account>();

    string name = (string)ViewData["Name"];
    string email = (string)ViewData["Email"];
    string phone = (string)ViewData["Phone"];
}

<h1>Your Dashboard</h1>


<h3>Profile Management</h3>
<p>Name: @name<br>Email: @email<br>Phone: @phone</p>

<h4>Change details</h4>
<form>
    <div>
        <label for="e">Email:</label>
        <input type="email" id="e" placeholder="example@domain" />
    </div>
    <div>
        <label for="ph">Phone:</label>
        <input type="number" id="ph" placeholder="0438123456" />
    </div>
    <button type="button" onclick="updateMyDetails()">Save Changes</button>
</form>
<p id="detailError" class="errorMsg">Error: email and phone fields must be valid!</p>

<h4>Change Password</h4>
<form>
    <div>
        <label for="NewPwd">New Password</label>
        <input type="password" id="NewPwd" placeholder="password" />
    </div>
    <button type="button" onclick="resetMyPwd()">Submit</button>
</form>
<p id="pwdError" class="errorMsg">Error: password not valid!</p>


<h4>Accounts</h4>


<h4>Transactions</h4>


<h4>Transfers</h4>
